body {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #2C363F;
    color: #F2F5EA;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h1 {
    font-size: 124px;
}

.fade-in {
    animation: fadeIn 500ms;
}

.fade-out {
    animation: fadeOut 500ms;
}

.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.current-player {
    font-size: 24px;
    font-weight: bold;
    padding: 26px;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    background-color: #D6DBD2;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    color: #2C363F;
    font-weight: bold;
    font-size: 48px;
}

.closed {
    display: none;
}

.modalOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.modalOverlay.closed {
    display: none;
}

button {
    flex: 0 0 auto;
    align-self: center;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    padding: 24px;
}

button:hover {
    filter: brightness(85%);
}

.game-container {
    display: grid;
    z-index: 1;
    width: min-content;
    height: min-content;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);                          
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 172px;

    width: 200px;
    height: 200px;
    color: #BBC7A4;
}


.cell:nth-child(-n+6) {
    border-bottom: 6px #F2F5EA solid;
}

.cell:nth-child(3n-2) {
    border-right: 6px #F2F5EA solid;
}

.cell:nth-child(3n-1) {
    border-right: 6px #F2F5EA solid;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #D6DBD2;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}